@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Access is Denied</title>
</head>
<body>
<div>
      Client here to logout <a asp-controller="Authentication" asp-action="Logout">Logout</a>
</div>
</body>
</html>